*{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
header{
    width: 100%;
    height: none;
    background-color: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.header_div1{
    width: 100%;
    height: 10vh;
    background-color: rgb(250, 250, 250);
    display: inline-flex;
    position: sticky;
    top: 0px;
}
.header_div11{
    width: 15%;
    height: 10vh;
    background-color: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#img1{
    width: 90%;
}
.header_div12{
    width: 30%;
    height: 10vh;
    background-color: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
#i1{
    margin-left:40px;
}
.header_div13{
    width: 60%;
    height: 10vh;
    background-color: none;
    display: inline-flex;
    align-items:center ;
    justify-content: center;
}
#inp1{
    width: 65%;
    height: 6vh;
    border-radius: 5px;
    border:solid 1px rgb(229, 229, 229);    
}  
#btn1{
    width:  100%;
    height: 6vh;
    background-color: #FFF;
    color:#000000D9 ;
    font-weight: bold;
    border: solid 1px silver;
} 
#inp1::placeholder{
    margin-left:2%; 
    position: absolute;   
}
.header_div14{
    width: 3%;
    height: 5vh;
    background-color:none ;
    margin-left: 360px ;position: absolute;
}
#i2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15pt;
}
#i3{
    font-size: 15pt;
    color: black;
}
#ul1{
    display: inline-flex;
    align-items: center;
    justify-content:space-between;
    font-size: 15pt;
}
#a1{
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content:space-between;
    text-decoration: none;
    font-weight: bold;
}
#li2{
    margin-left: 20px;
}
#img2{
    width: 100%;
    height: 80vh;
}
main{
    width: 100%;
    /* height: 290vh; */
    background-color: rgb(119, 165, 255);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
footer{
    width: 100%;
    height: 18vh;
    background: rgb(119, 165, 255);
    display: inline-flex;
    justify-content: space-between;
}
.footer_div1{
    width: 13%;
    height: 18vh;
    /* background-color: chartreuse; */
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#img5{
    width: 100%;
}
#h02{
    color: rgba(255, 255, 255, 0.65);
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    margin-top: -50px;
}
.footer_div2{
    width: 25%;
    height: 18vh;
    /* background-color: blueviolet; */
    display: inline-flex;
}
.ul2{
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
}
#a2{
    text-decoration: none;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}
#a3{
    text-decoration: none;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}#a4{
    text-decoration: none;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}
.main2{
    width: 80%;
    height:35vh;
    background-color: none; 
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main1{
    width: 100%;
    height: 5vh;
    background-color: none; 
    display: inline-flex;
    justify-content: space-around;
}
.main3{
    width: 40%;
    height:10vh;
    background-color: none; 
    margin-left: -40px;
    display: inline-flex;
    justify-content: space-between;
}
.main4{
    width: 50%;
    background-color: none; 
    height:10vh;
    display: inline-flex;
    justify-content: space-evenly;
}
#btn01{
    background-color: #FFF;
    color: #000000D9;
    border:none ;
    border-radius: 25px;
    width: 120px!important;
    height: 50px;
    font-size: 13pt;
    font-weight: bold;
}
#btn02{
    width: 270px!important;
    height: 50px;
    background-color: #FFF;
    color: #000000D9;
    border:none ;
    border-radius: 25px;
    
    font-size: 13pt;
    font-weight: bold;
    width: 98%;
    text-align: start;
}
#inp3{
    width: 70%;
    height:7vh ;
    border-radius: 25px;
}
#btn4{
    width: 15%;
    height: 7vh;
    border-radius: 25px;
}
#h3{
    font-size: 30px;
    width: 85%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
.main5{
    width: 85%;
    /* background-color: chartreuse; */
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main6{
    width: 31%;
    height: 35vh;
    background-color: #FFF;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 15px;

}
.main7{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/14203);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
.main8{
    width: 100%;
    height:15vh;
    border-radius: 0px 0px 20px 20px;
    display: inline-flex;
}
.main9{
    width: 60%;
    height: 15vh;
    border-radius: 0px 0px 0px 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.main10{
    width: 40%;
    height: 15vh;
    border-radius: 0px 0px 20px 00px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#btn2{
    width: 70%;
    height: 6vh;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(255, 140, 220);
    border-radius: 20px;
    border: none;
    padding: 4px 15px;
}
#h2{
    font-size: 12pt;
    font-weight: 700;
    margin-left: 15px;
}
#h4{
    margin-left: 15px;
    font-size: 11pt;
    color: rgb(137, 135, 135);
}
.main11{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/14192);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
.main12{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/14576);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
/* .main13{
    width: 100%;
    height: 37vh;
    background-color: chocolate;
    display: inline-flex;
    justify-content: space-evenly;
} */    
.main14{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/15410);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
.main15{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/14389);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
.main16{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/14517);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
.main17{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/27337);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
.main18{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/27355);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
.main19{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/27330);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
.main20{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/33571);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
.main21{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/33580);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
.main22{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/33577);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
.main23{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/33568);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
.main24{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/14467);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
.main25{
    width:100%;
    height: 20vh;
    background: url(https://api.maktab.uz/api/v1/files/pictures/14452);
    background-size: cover;
    display: inline-flex;
    align-items: first baseline;
    justify-content: first baseline;
    border-radius: 20px 20px 0px 0px;
}
.main26{
    width: 100%;
    height: 37vh;
    display: inline-flex;
    align-items: center;
}
#a01{
    text-decoration: none;
    color: #FFF;
}
@media screen and (max-width:1200px) {
    #btn1{
        display: none;
    }   
    #ul1{
        display: none;
    }
    #i2{
        display: none;
    }  
    .header_div1{
        display: inline-flex;
        justify-content: space-between;
    }
    .header_div13{
        display: none;
    }
    #btn4{
     display: none;
    }
    .main6{
        width: 45%;
    }
}
@media screen and (max-width:1200px) {
    #inp3{
        display: none;
    }
    .main4{
        display: none;
    }
    .main1{
        width: 100%; 
        display: inline-flex;
        /* justify-content: space-between; */
          }
    #btn01{
        width: 245%  !important;
    }      
    #btn02{
        width: 300% !important;
    }
    #btn02{
        width: 245px;
    }
    .main3{
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
    }
}
@media screen and (max-width:992px) {
    .main6{
        width: 95%;
    }
    .main13{
        width: 100%;
    }
    .main8{
        display: inline-flex;
        flex-direction: column;
    }
    .main10{
        width: 100%;
    }
    #btn2{
        width: 90%;
    }
    .main5{
        width: 100%;
    }
} 
@media screen and (max-width:768px) {
    #btn02{
        width: 295px !important;
        margin-left: -70px !important;
    }
    .main3{
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
    }
    .main2{
        width: 100%;
    }
    #img1{
        width: 100%;
    }
    #btn01{
        margin-left: 50px;
    }
}




